Prestacion (perfecto por industriales, distribuidores etc...)
==
* Cliente/Clientes
- Contrato/D
- Factura/M
* Proyecto/Proyectos
- Contrato/20
- Propuesta comercial/0
* Recurso/Recursos
- CV
- CRA/M
