body {
    text-align: center;
}

.container-inscription {
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

    border: 2px solid black;
    
    background-image: url("../img/paper.jpg");
    
}

.header-inscription {
    font-family: 'Kavoon', cursive;
    font-size: 1.6em;
    color: white;
    
    background-color: #2C427C;
    
    padding: 20px 10px 10px 10px;
}

.header-inscription input {
    font-family: 'Bad Script', cursive;
    font-size: 1em;
    font-weight: bold;
    color: #2C427C;
    
    text-align: center;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    padding: 2px 2px 2px 2px;
    background-color: white;
}

.wrapper-inscription {
    padding: 15px 10px;
}

.wrapper-inscription h1 {
    font-family: 'Bad Script', cursive;
    font-size: 1em;
    padding: 15px 20px 15px 20px;
    
    line-height: 1.2;
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px);
    background-image: -moz-linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px);
    background-image: linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px);
    background-size: 100% 1.2em;
    background-position: 0 1em;
    background-origin: content-box;
    font-size: 110%;
    
    margin: 0 auto;
    width: 80%;

}

.wrapper-inscription p {
    font-family: 'Happy Monkey', cursive;
    font-size: 1em;
    font-weight: bold;
    
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper-inscription input {
    width: 80%;
    font-family: 'Happy Monkey', cursive;
    font-size: 1.2em;
    
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    
    padding: 0 7px;
    
    background-color: #FFEBC2;
}

.bouton {
    cursor: pointer;

    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
    }
    
.bouton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
    }
    
.bouton:active {
    position:relative;
    top:1px;
/* This imageless css button was generated by CSSButtonGenerator.com */
}

#wrapper-simulation {
    display: none;
    text-align: center;
    width: 100%;
}

#liste-simulation {
    list-style-type: none;
    padding-left: 0;
}

#liste-simulation li {
    height: 357px;
    width: 30%;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;
}

#liste-simulation li span {
    position: absolute;
    font-family: 'Kavoon', cursive;
}

.incluyendo {
    position: absolute;
    font-style: italic;
    font-size: 0.9em;
    top: 48%;
    left: 8%;
    width: 74%;
}

.prix-total {
    top: 14%;
    right: 16%;
    font-size: 1.4em;
    text-align: center;
}

.nb-ope {
    top: 38%;
    left: 8%;
    width: 74%;
    text-align: center;
    font-size: 1.4em;
}

.nb-ope-gratis {
    top: 52%;
    left: 8%;
    width: 74%;
    text-align: center;
    font-size: 1.4em;
}

.porope {
    bottom: 12%;
    left: 14%;
    text-align: center;
    font-size: 1.4em;
}

#badge-1 {
    background-image: url(../img/paquete1.png);
}

#badge-2 {
    background-image: url(../img/paquete2.png);
}

#badge-3 {
    background-image: url(../img/paquete3.png);
}

#call-us {
    display: none;
    position: absolute;
    width: 50%;
    
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

    border: 1px solid black;
    
    background-image: url("../img/paper.jpg");
    
    padding: 3%;
}

#call-us h1 {
    text-align: justify;
    font-size: 1em;
    font-family: 'Happy Monkey', cursive;
}

#call-us p {
    margin: 0;
    text-align: center;
    font-family: 'Bad Script', cursive;
}

#submit-contact {
    margin-top: 1em;
}

.blur {
    -webkit-filter: blur(2px); 
    filter: url(#blur-effect-1);
}

.quit {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("../img/del.png");
    width: 16px;
    height: 16px;
    
    cursor: pointer;
}
