
/*#####################################
#
#        Général admin
#
#######################################*/

.admin {
    display: none;
}

#backoffice ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#backoffice>h1 {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #d6dcea;
    padding-bottom: 15px;
}

#backoffice>div {
    display: none;
    padding-left: 20px;
    padding-right: 10px;
}

.liste img {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

img.bouton-edit-back:hover {
    content: url(../img/edit_back_hover_30.png);
}

img.bouton-del-back:hover {
    content: url(../img/del_back_hover_30.png);
}

img.bouton-key-back:hover {
    content: url(../img/key_back_hover_30.png);
}

img.bouton-save-back:hover {
    content: url(../img/save_back_hover_30.png);
}

#new-user input {
    width: 90%;
}


/*#####################################
#
#        Menu back
#
#######################################*/

#menu-back li {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top: 1px dotted #3A335E;
    
    background-color: #514985;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    
    height: 40px;
}

#menu-back li:hover {
    background-color: #2F2663;
}

#menu-back li[data-selected="1"] {
    background-color: #2F2663;
}

#menu-back h1 {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

#menu-retour {
    background-image: url(../img/retour_40.png);
    background-color: #83bc2f !important;
    border-top: none !important;
}

#menu-retour:hover {
    background-color: #75a32d !important;
}

#menu-users {
    background-image: url(../img/user_40.png);
}

/*#####################################
#
#        Gestion users
#
#######################################*/

#bucket-regles {
    position: absolute;
    left: -999999px;
    width: 100%;
}

/*###########################
        Partagé : REGLES
#############################*/

#regles-new-user {
    width: 59%;
    top: 0;
    float: right;
}

.liste-regles .switchy-container {
    margin: 0;
    margin-bottom: 5px;
    float: right;
}

.edit-user .liste-regles>li {
    font-size: 1.2em;
}

.tableau-regle {
}

.liste-regles>li>span {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.liste-regles>li>span b {
    text-transform: uppercase;
}

.liste-regles {
    margin: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #C2C2C2;
}

.liste-regles>li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

.liste-regles>li:nth-child(odd) {
    border-top: 1px solid #949494;
}

.liste-regles>li:first-child {
    border-top: none;
}

.liste-regles select {
    width: 100%;
}

/*###########################
        Chosen règles
#############################*/

.liste-regles .select-regles>input {
    border-radius: 0;
    color: white;
    border: 0;
    text-transform: uppercase;
    box-shadow: none;
}

/* Fond champ */
.liste-regles li:nth-child(4n+2) .select-regles>ul>li>input {
    background: #8ecb32 !important;
}

.liste-regles li:nth-child(4n+4) .select-regles>ul>li>input {
    background: #56d4eb !important;
}

.liste-regles li:nth-child(4n+2) .chosen-choices {
    background: #8ecb32 !important;
    border: 1px solid #558011;
}

.liste-regles li:nth-child(4n+4) .chosen-choices {
    background: #56d4eb !important;
    border: 1px solid #48afc2; !important;
}

/* valeur sélectionnée */
.liste-regles li:nth-child(4n+2) .highlighted {
    background: #75a32d !important;
}

.liste-regles li:nth-child(4n+4) .highlighted {
    background: #48afc2 !important;
}

/* Fond drop */
.liste-regles li:nth-child(4n+2) .chosen-drop {
    background: #8ecb32 !important;
}

.liste-regles li:nth-child(4n+4) .chosen-drop {
    background: #56d4eb !important;
}

/*###########################
        CREATION
#############################*/

#container-new-user {
    display: none;
    position: relative;
    border: 1px solid #838383;
    padding: 10px;
    margin-bottom: 10px;
}

#new-user {
    width: 35%;
}

#error-new-user {
    display: none;
}

.select-new-niveau {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    line-height: 2em;
    border-radius: 5px;
    color: #535353;
}

#new-user  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #535353;
}

#new-user  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #535353;
}

#new-user  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #535353;
}

#new-user  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #535353;
}

/*###########################
        Liste users
#############################*/

#liste-users>li {
    background-image: url(../img/user_grey_40.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-top: 15px;
    
    font-size: 0.8em;
}

.liste {
    border-top: 1px solid #949494;
}

.liste:first-of-type {
    border-top: none;
}

#edit-user {
    display: none;
}

.label-liste i {
    font-weight: normal;
    position: absolute;
    right: 0;
}

.label-liste h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 6px;
    position: relative;
    width: 50%;
}

.label-liste>div {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    
    border: 1px solid #B9B9B9;
    background-color: #d6dcea;
    
    padding: 5px;
    
    width: 50%;
}

.label-liste p {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 3px;
}

.label-liste b {
    text-transform: uppercase;
}

.label-liste .noaccess {
    background-color: #DCB3B3;
}

/*###########################
        Edition d'user
#############################*/

.edit {
    display: none;
}

.edit-niveau {
    width: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-edit-user {
    display: none;
}

.tip {
    display: none;
}

#tip-niveau {
    width: 50%;
    left: 40%;
}
/*#####################################
#
#        Edition des mondes
#
#######################################*/

#mondes {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#mondes ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#liste-valeurs li {
    margin-top: 5px;
}

.add-valeur {
    border: 2px dashed #b8b8b8;
    padding: 5px;
    color: #9b9b9b;
}

.add-new-valeur {
    display: none;
}

li.valeur {
    background-image: url(../img/tag_30.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-top: none;
}

li.valeur[data-niveau="0"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

li.valeur[data-niveau="0"]:nth-of-type(even) {
    background-color: #599801;
}

li.valeur[data-niveau="1"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

li.valeur[data-niveau="1"]:nth-of-type(even) {
    background-color: #48afc2;
}

li.valeur[data-niveau="2"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

li.valeur[data-niveau="2"]:nth-of-type(even) {
    background-color: #599801;
}

li.valeur[data-niveau="3"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

li.valeur[data-niveau="3"]:nth-of-type(even) {
    background-color: #48afc2;
}

#mondes ul[data-niveau] {
    display: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#mondes ul[data-niveau="0"]:nth-of-type(even) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#mondes ul[data-niveau="0"]:nth-of-type(odd) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#mondes ul[data-niveau="1"]:nth-of-type(even) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#mondes ul[data-niveau="1"]:nth-of-type(odd) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

#mondes ul[data-niveau="2"]:nth-of-type(even) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#mondes ul[data-niveau="2"]:nth-of-type(odd) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#mondes ul[data-niveau="3"]:nth-of-type(even) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#mondes ul[data-niveau="3"]:nth-of-type(odd) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

/*#####################################
#
#        Edition des profils
#
#######################################*/

#profil {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#profil ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 5px;
}

#liste-profil li {
    margin-top: 5px;
    font-size: 0.8em;
}

#liste-profil li img {
    margin-top: 0;
}

#liste-profil li input {
    margin-top: 0px;
    height: 1.1em;
    font-size: 0.9em;
}

.liste-champ {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

.liste-categorie {
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    border-bottom: 10px solid #9b9b9b;
}

li.profil {
    background-image: url(../img/tag_20.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    border-top: none;
}

li.profil-champ {
    background-color: #8ecb32;
}

li[data-type="champ"]:not([data-pk]) {
    background-image: url(../img/date_20.png);
}

li.profil-categorie {
    background-color: #9b9b9b;
    background-image: url(../img/folder_20.png);
}

li.profil-type {
    background-color: #cecece;
    background-image: url(../img/document_20.png);
}

li.add-profil {
    border: 2px dashed #b8b8b8;
    
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-position: 5px 50%;
    background-repeat: no-repeat;
    
    color: #9b9b9b;
    
    display: none;
}

li.add-profil img {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

li.add-profil-categorie {
    background-image: url(../img/folder_20.png);
}

li.add-profil-type {
    background-image: url(../img/document_20.png);
}

.profil span {
    margin-left: 5%;
}

.editable {
    height: 40px;
    font-size: 1em;
    padding: 5px;
    border: 1px solid gray;
}

.edit-niveau-profil {
    width: 25%;
    margin-top: -0.6em;
    height: 1.1em;
}

.valeur-save {
    display: none;
}

.profil-save {
    display: none;
    border: 1px solid #514985;
    padding: 1px;
    box-sizing: border-box;
    height: 20px;
}

.profil-save:hover {
    content: url(../img/save_back_hover_20.png);
}

/*#####################################
#
#        Designer
#
#######################################*/

.help {
    display: none;
}

#designer {
    display: none;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
    height: 95%;
}

#designer>h1 {
    height: 15%;
    box-sizing: border-box;
}

#container-map {
    position: relative;
    width: 33%;
    float: left;
    height: 85%;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
    overflow-y: scroll;
}

#container-map h1 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    background-color: #D6DCEA;
    
    border-bottom: 1px dotted #A9A9A9; 
    
    margin-top: 0;
    margin-bottom: 0;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#container-action {
    padding: 10px;
    width: 62%;
    margin-left: 36%;
    background-color: #D6DCEA;
    font-size: 0.8em;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
}

#container-help {
    width: 62%;
    margin-left: 36%;
}

.action {
    display: none;
}

#liste-map {
    padding: 5px;
}

#liste-map img {
    margin-left: 5px;
}

#liste-map ul {
    border-bottom: 1px dotted #A9A9A9;
}

#liste-map li:not(:first-child) {
    margin-left: 10px;
}

#liste-map ul:not(:first-child) {
    padding-left: 10px;
}

#liste-map li {
    padding: 10px;
    padding-left: 25px;
    position: relative;
}

#liste-map li.champ {
    background-color: #56d4eb;
}

#liste-map li.champ div {
    margin-right: 25px;
    cursor: pointer;
}

#liste-map li.champ div:hover {
    background-color: #48AFC2;
}

#liste-map li.champ img:hover {
    background-color: #48AFC2;
}

#liste-map li.categorie {
    background-color: #A9A9A9;
}

#liste-map li.categorie div {
    margin-right: 25px;
    cursor: pointer;
}

#liste-map li.categorie div:hover {
    background-color: #D6DCEA;
}

#liste-map li.categorie img:hover {
    background-color: #D6DCEA;
}

#liste-map li.type {
    cursor: pointer;
}

#liste-map li.type:hover {
    background-color: #D6DCEA;
}

.designer-ghost {
    opacity: 0.6;
    font-style: italic;
}

.tag-delete {    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 15px;
    height: 15px;
    
    padding: 2px;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
    
    background-image: url(../img/tag_15.png);
    background-position: center center;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.tag-delete:hover {
    background-image: url(../img/del_15.png);
}
