
/*#####################################
#
#        Général admin
#
#######################################*/

.admin {
    display: none;
}

#backoffice ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#backoffice>h1 {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #d6dcea;
    padding-bottom: 15px;
}

#backoffice>div {
    display: none;
    padding-left: 20px;
    padding-right: 10px;
}

.liste img {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

img.bouton-edit-back:hover {
    content: url(../img/edit_back_hover_30.png);
}

img.bouton-del-back:hover {
    content: url(../img/del_back_hover_30.png);
}

img.bouton-key-back:hover {
    content: url(../img/key_back_hover_30.png);
}

img.bouton-save-back:hover {
    content: url(../img/save_back_hover_30.png);
}

#new-user input {
    width: 90%;
}


/*#####################################
#
#        Menu back
#
#######################################*/

#menu-back li {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top: 1px dotted #3A335E;
    
    background-color: #514985;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    
    height: 40px;
}

#menu-back li:hover {
    background-color: #2F2663;
}

#menu-back li[data-selected="1"] {
    background-color: #2F2663;
}

#menu-back h1 {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

#menu-retour {
    background-image: url(../img/retour_40.png);
    background-color: #83bc2f !important;
    border-top: none !important;
}

#menu-retour:hover {
    background-color: #75a32d !important;
}

/*#####################################
#
#        Gestion users
#
#######################################*/

#bucket-regles {
    position: absolute;
    left: -999999px;
    width: 100%;
}

/*###########################
        Partagé : REGLES
#############################*/

#regles-new-user {
    width: 59%;
    top: 0;
    float: right;
}

.liste-regles .switchy-container {
    margin: 0;
    margin-bottom: 5px;
    float: right;
}

.edit-user .liste-regles>li {
    font-size: 1.2em;
}

.tableau-regle {
}

.liste-regles>li>span {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.liste-regles>li>span b {
    text-transform: uppercase;
}

.liste-regles {
    margin: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #C2C2C2;
}

.liste-regles>li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

.liste-regles>li:nth-child(odd) {
    border-top: 1px solid #949494;
}

.liste-regles>li:first-child {
    border-top: none;
}

.liste-regles select {
    width: 100%;
}

/*###########################
        Chosen règles
#############################*/

.liste-regles .select-regles>input {
    border-radius: 0;
    color: white;
    border: 0;
    text-transform: uppercase;
    box-shadow: none;
}

/* Fond champ */
.liste-regles li:nth-child(4n+2) .select-regles>ul>li>input {
    background: #8ecb32 !important;
}

.liste-regles li:nth-child(4n+4) .select-regles>ul>li>input {
    background: #56d4eb !important;
}

.liste-regles li:nth-child(4n+2) .chosen-choices {
    background: #8ecb32 !important;
    border: 1px solid #558011;
}

.liste-regles li:nth-child(4n+4) .chosen-choices {
    background: #56d4eb !important;
    border: 1px solid #48afc2; !important;
}

/* valeur sélectionnée */
.liste-regles li:nth-child(4n+2) .highlighted {
    background: #75a32d !important;
}

.liste-regles li:nth-child(4n+4) .highlighted {
    background: #48afc2 !important;
}

/* Fond drop */
.liste-regles li:nth-child(4n+2) .chosen-drop {
    background: #8ecb32 !important;
}

.liste-regles li:nth-child(4n+4) .chosen-drop {
    background: #56d4eb !important;
}

/*###########################
        CREATION
#############################*/

#container-new-user {
    display: none;
    position: relative;
    border: 1px solid #838383;
    padding: 10px;
    margin-bottom: 10px;
}

#new-user {
    width: 35%;
}

#error-new-user {
    display: none;
}

.select-new-niveau {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    line-height: 2em;
    border-radius: 5px;
    color: #535353;
}

#new-user  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #535353;
}

#new-user  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #535353;
}

#new-user  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #535353;
}

#new-user  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #535353;
}

/*###########################
        Liste users
#############################*/

#liste-users>li {
    background-image: url(../img/user_grey_40.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-top: 15px;
    
    font-size: 0.8em;
}

.liste {
    border-top: 1px solid #949494;
}

.liste:first-of-type {
    border-top: none;
}

#edit-user {
    display: none;
}

.label-liste i {
    font-weight: normal;
    position: absolute;
    right: 0;
}

.label-liste h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 6px;
    position: relative;
    width: 50%;
}

.label-liste>div {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    
    border: 1px solid #B9B9B9;
    background-color: #d6dcea;
    
    padding: 5px;
    
    width: 50%;
}

.label-liste p {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 3px;
}

.label-liste b {
    text-transform: uppercase;
}

.label-liste .noaccess {
    background-color: #DCB3B3;
}

/*###########################
        Edition d'user
#############################*/

.edit {
    display: none;
}

.edit-niveau {
    width: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-edit-user {
    display: none;
}

.tip {
    display: none;
}

#tip-niveau {
    width: 50%;
    left: 40%;
}
/*#####################################
#
#        Edition des mondes
#
#######################################*/

#mondes {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#mondes ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#liste-valeurs li {
    margin-top: 5px;
}

.add-valeur {
    border: 2px dashed #b8b8b8;
    padding: 5px;
    color: #9b9b9b;
}

.add-new-valeur {
    display: none;
}

li.valeur {
    background-image: url(../img/tag_30.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-top: none;
}

li.valeur[data-niveau="0"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

li.valeur[data-niveau="0"]:nth-of-type(even) {
    background-color: #599801;
}

li.valeur[data-niveau="1"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

li.valeur[data-niveau="1"]:nth-of-type(even) {
    background-color: #48afc2;
}

li.valeur[data-niveau="2"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

li.valeur[data-niveau="2"]:nth-of-type(even) {
    background-color: #599801;
}

li.valeur[data-niveau="3"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

li.valeur[data-niveau="3"]:nth-of-type(even) {
    background-color: #48afc2;
}

#mondes ul[data-niveau] {
    display: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#mondes ul[data-niveau="0"]:nth-of-type(even) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#mondes ul[data-niveau="0"]:nth-of-type(odd) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#mondes ul[data-niveau="1"]:nth-of-type(even) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#mondes ul[data-niveau="1"]:nth-of-type(odd) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

#mondes ul[data-niveau="2"]:nth-of-type(even) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#mondes ul[data-niveau="2"]:nth-of-type(odd) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#mondes ul[data-niveau="3"]:nth-of-type(even) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#mondes ul[data-niveau="3"]:nth-of-type(odd) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

/*#####################################
#
#        Designer
#
#######################################*/

.help {
    display: none;
}

#designer {
    display: none;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
    height: 90%;
}

#designer h1 {
    height: 10%;
    box-sizing: border-box;
}

#designer h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    background-color: #D6DCEA;
    
    margin-top: 0;
    margin-bottom: 3px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#designer h3 {
    border-bottom: 1px dotted #A9A9A9;
    font-size: 1em;
}

/*#####################################
#        Action
#######################################*/

.designer-right {
    padding: 10px;
    width: 55%;
    margin-left: 43%;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
    
    background-color: #E7E9F0;
}

#container-action input {
    width: 70%;
}

#container-action p {
    font-size: 0.9em;
}

#container-help {
    margin-top: 10px;
    
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
}

#container-templates {
    display: none;
}

#container-templates p {
    font-size: 0.9em;
}

#container-description {
    display: none;
    font-size: 0.9em;
    margin-top: 10px;
}

#container-ou-champ {
    display: none;
    font-size: 0.9em;
    margin-top: 10px;
}

.action {
    display: none;
}

.select-templates {
    margin-top: 10px;
    width: 95%;
}

#pre-description {
    display: none;
    font-style: italic;
}

/*#####################################
#        Switches
#######################################*/

.designer-option {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 1em;
    cursor: pointer;
    
    padding: 10px;
    
    text-align: center;
}

.designer-option h1 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    
    background-repeat: no-repeat;
    background-position: 5px center;
    
    margin: 0;
}

.designer-option p {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
}

.designer-option p.option-ok {
    display: none;
}

.designer-option p.option_ko {
    display: none;
}

div.option-ok {    
    box-shadow: 0 0 1px 1px #8ECB32;
}

div.option-ok:hover {    
    box-shadow: 0 0 3px 3px #8ECB32;
}

div.option-ko {
    box-shadow: 0 0 1px 1px #A9A9A9;
}

div.option-ko:hover {
    box-shadow: 0 0 3px 3px #A9A9A9;
}

.option-ok h1 {
    background-color: #8ECB32;
    background-image: url(../img/option_OK_15.png);
}

.option-ko h1 {
    background-color: #A9A9A9;
    background-image: url(../img/option_KO_15.png);
}

.option-help {
    box-shadow: 0 0 1px 1px #A9A9A9;
}

.option-help:hover {    
    box-shadow: 0 0 3px 3px #8ECB32;
}

.option-help h1 {
    background-color: #A9A9A9;
    background-image: url(../img/option_OK_15.png);
}

.option-help:hover h1 {
    background-color: #8ECB32;
}

.container-o {
    text-align: center;
}

#add-champ-template {
    margin-right: 27%;
}

/*#####################################
#        Map
#######################################*/

#container-map {
    position: relative;
    width: 40%;
    float: left;
    height: 90%;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
    overflow-y: scroll;
    padding: 3px;
    
    background-color: #E7E9F0;
}

.designer-add-champ {
    position: absolute;
    right: 4px;
    top: 9px;
    background-image: url(../img/add_champ_20.png);
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#liste-map {
    padding: 5px;
}

#liste-map img {
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

.medailles {
    float: right;
    margin-top: 3px;
    margin-right: 55px;
}

.designer-categorie div>.medailles {
    margin-right: 30px;
}

.medailles img {
    float: none !important;
    height: 15px !important;
    cursor: default !important;
}

#liste-map, #liste-map ul {
    list-style-type: none;
    margin: 0;
}
   
#liste-map ul {
    padding-left: 9px;
    margin-left: 10px;
}

#liste-map li {
    margin: 0;
    margin-top: 20px;
    padding: 0 0 0 22px;
    line-height: 20px;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;

    border: 1px solid #A1A1A1;
    border-radius: 3px;
    color: white;
    
    cursor: pointer;
}

.designer-ghost {
    font-style: italic;
}

.tag-delete {    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 15px;
    height: 15px;
    
    padding: 2px;
    
    background-image: url(../img/trash_15.png);
    background-position: center center;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.tag-delete:hover {
    background-image: url(../img/del_15.png);
}

/*#####################################
#        Arbre
#######################################*/

#liste-map>li:first-child {
    margin-top: 0;
}

#liste-map li:before {
    content: "x";
    color: rgba(255, 255, 255, 0);
    margin-left: -33px;
    margin-right: 22px;
    position: absolute;
    bottom: 9px;
}

#liste-map li:first-child:before {
    top: -22px;
    margin-left: -34px;
}

.designer-champ>li:before {
    border-bottom: 2px solid #8ecb32;
}

.designer-categorie>li:before {
    border-bottom: 2px solid #A1A1A1;
}

.designer-champ>li:first-child:before {
    border-left: 2px solid #8ecb32;
}

.designer-categorie>li:first-child:before {
    border-left: 2px solid #A1A1A1;
}

#liste-map li:last-child:after {
    content: "x";
    color: rgba(255, 255, 255, 0);
    border-left: 2px solid #E7E9F0;
    position: absolute;
    left: -12px;
    top: 11px;
}

li.designer-champ {
    background-color: #8ecb32;
}

li.designer-categorie {
    background-color: #A1A1A1;
}

li.designer-type {
    color: black !important;
    margin-top: 8px !important;
}

li.designer-type:before {
    top: -9px !important;
}

ul.designer-champ {
    border-left: 2px solid #8ecb32 !important;
}

ul.designer-categorie {
    border-left: 2px solid #A1A1A1 !important;
}
