html, body {
    background-color: #F3F0EB;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;	
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}

#container_content {
    height: 100%;
    margin-top: 15px;
    background-color: #888888;
    border: 1px solid #222222;
    padding: 0px 10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

#content {
    padding: 10px 0px;
    width: 90%;
}

#opak { /*Shakur!*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    
    display: none;
    
    z-index: 100;
}

.details {
    overflow-x: hidden;
}

table {
    table-layout:fixed;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

tr:nth-child(odd) {
  background-color: #FFEAEA;
}

tr:nth-child(even) {
  background-color: #FFFFFF;
}

tr:nth-child(odd):hover {
  background-color: #C0FFF5;
}

tr:nth-child(even):hover {
  background-color: #C0FFF5;
}

.table_edition tr {
  background-color: #FFFFFF;
}

.table_edition tr td:nth-child(1) {
    width: 25%;
}

#jauge {
    display: none;
}

#container-queue {
    overflow: hidden;
}

#poignee-queue {
    position: absolute;
    
    height: 20%;
    width: 15px;
    
    top: 40%;
    left: 0;
    
    background-color: #888888;
    
    -moz-border-top-right-radius:20px;
    -webkit-top-right-radius:20px;
    border-top-right-radius:20px;
    
    border: 1px solid black;
    
    border-left: 0px;
    
    -moz-border-bottom-right-radius:20px;
    -webkit-bottom-right-radius:20px;
    border-bottom-right-radius:20px;
    
}

#tiroir-queue {
    position: absolute;
    
    height: 70%;
    width: 30%;
    
    top: 15%;
    left: -30%;
    
    background-color: #888888;
    
    border: 1px solid black;
    
    border-left: 0px;
    
    -moz-border-top-right-radius:10px;
    -webkit-top-right-radius:10px;
    border-top-right-radius:10px;
    
    -moz-border-bottom-right-radius:10px;
    -webkit-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    
    overflow-y: auto;
    z-index: 10;
}

#tiroir-queue ul {
    padding-left: 0;
}

#tiroir-queue li {
    list-style-type: none;
    border: 1px solid black;
    
    background-image: url(../img/jauge_bleu.png);
    background-position: 0 0;
    background-size: 0 0;
    background-repeat: no-repeat;
}

#tiroir-queue li[data-editing="1"] {
    background-color: blue;
}

#tiroir-queue li input:disabled {
    background-color: #BEBEBE;
}

#tiroir-queue li span {
    font-style: italic;
}

#tiroir-queue li.done {
    background-size: 0 0;
    background-color: #19bf19;
}

#popup-store {
    position: absolute;
    
    height: 80%;
    width: 80%;
    
    top: 10%;
    left: 10%;
    
    padding: 1%;
    
    background-color: #666666;
    
    border: 1px solid black;
    
    border-left: 0px;
    
    z-index: 105;
    
    display: none;
}

#prev-store {
    position: absolute;
    top: 0;
    left: 0;
}

#next-store {
    position: absolute;
    top: 0;
    right: 0;
}

#top-store {
    text-align: center;
    height: 70px;
}

#viewer-store {
    float: left;
    width: 45%;
    margin-top: 1%;
}

#container-store {
    background-color: #888888;
    width: 50%;
    margin-left: 50%;
    margin-top: 1%;
}

#container-champs {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#container-champs p {
    margin-top: 0;
}

#container-store hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#container-champs select {
    font-size: 1.4em;
    padding: 1px 10px 1px 10px;
    font-weight: bold;
}

.champ-store select {
    width: 50%;
}

#container-classification {
    list-style-type: none;
}

#container-classification ul {
    padding-left: 0;
    list-style-type: none;
}

#container-classification li.store-type {
    background-color: #BBDDCA;
    cursor: pointer;
}

#container-classification li {
    padding-left: 0;
}

#container-classification li ul li {
    padding-left: 1.5em;
}

#container-classification li.store-type[data-selected="1"] {
    background-color: #12FFEE;
}

#container-classification li.store-type:hover {
    background-color: #D0FFE5;
}

#container-classification li.store-categorie {
    background-color: #79B995;
}

#container-details {
    display: none;
    text-align: center;
}

.error {
    background-color: red;
}

#liste {
   margin-right: 20px;
   margin-left: 20px;
}

#liste ul {
    list-style-type: none;
    padding: 0;
}

#liste li {
    display: none;
}

#liste li.hovering {
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
}

#liste li[data-type="champ"][data-niveau="0"] {
    display: block;
}

#liste li[data-type="champ"] {
    background-color: #121212;
    color: white;
}

#liste li[data-type="categorie"] {
    background-color: #848484;
}

#liste li[data-type="document"] {
    background-color: #A1A1A1;
}

#liste li[data-type="revision"] {
    background-color: #B2B2B2;
}

.over {
    color: red !important;
}

.ghost {
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
}

.ghost-word {
    text-decoration: underline;
}

.ghost-champ {
    background-color: #00AB22 !important;
}

.ghost-type {
    background-color: #11BC33 !important;
}

.boutons-li {
    cursor: pointer;
    float: right;
}

.bucket {
    display: none;
}

.filename {
    width: 60%;
    overflow-x: hidden;
}

.imgboutons {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 1em;
}

.imgboutons[data-state="closed"][data-type="champ"] {
    background-image: url("../img/champ_closed.png");
}

.imgboutons[data-state="open"][data-type="champ"] {
    background-image: url("../img/champ_open.png");
}

.imgboutons[data-state="closed"][data-type="categorie"] {
    background-image: url("../img/categorie_closed.png");
}

.imgboutons[data-state="open"][data-type="categorie"] {
    background-image: url("../img/categorie_open.png");
}

.boutons-store {
    cursor: pointer;
    display: inline;
    color: red;
    vertical-align: super;
    font-size: 1em;
}

#core {
    position: absolute;
    width: 100%;
    background-color: #A1FF94;
}

#core-top {
    text-align: center;
}

.busquedor {
    position: absolute !important;
    text-align: left;
    width: 10%;
    left: 45%;
    height: 2em;
    font-size: 1.5em;
    padding: 10px 1px 0px 1px;
    
    -moz-border-top-right-radius:10px;
    -webkit-top-right-radius:10px;
    border-top-right-radius:10px;
    
    -moz-border-top-left-radius:10px;
    -webkit-top-left-radius:10px;
    border-top-left-radius:10px;
    
    -moz-border-bottom-right-radius:10px;
    -webkit-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    
    -moz-border-bottom-left-radius:10px;
    -webkit-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
}

.document {
    cursor: pointer;
}

.list-mondes {
    padding-left: 0;
    margin: 0;
}

.list-mondes li {
    list-style-type: none;
    border: 1px solid black;
    display: inline-block;
    background-color: #00C2FF;
    padding: 5px;
}

.list-mondes li[data-selected="1"] {
    border: 2px solid white;
    background-color: #0380A7;
    color: white;
}

.list-mondes li h1 {
    font-size: 1em;
    cursor: pointer;
}

#mondes-top {
    float: left;
}

#list-sort {
    padding: 5px;
    margin: 0;
    float: right;
    background-color: #00C2FF;
    border: 1px solid black;
    display: inline-block;
}

#list-sort h1 {
    font-size: 1em;
}

#viewer-global {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    z-index: 150;
}

/* Styles pour jquery-sortable */
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#list-search li.placeholder {
  position: relative;
  /** More li styles **/
  border: 3px solid black;
  opacity: 70%;
}
#list-search ul li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
