html, body {
    background-color: #F3F0EB;
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

/*###########################
        Blocs principaux
#############################*/

#front {
    display: none;    
}

#back {
    display: none;
}

/*###########################
        Barre latérale
#############################*/

.barre-laterale {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    z-index: 100;
}

.barre-laterale>h1 {
    background-image: url(../img/dino_100.png);
    background-repeat: no-repeat;
    background-position: top center;

    text-align: center;
    color: white;
    
    margin-top: 0;
    padding-top: 105px;
    
    cursor: pointer;
}

.barre-laterale>h1:hover {
    background-image: url(../img/dino_flou_100.png);
    
    font-family: "Courier New", Courier, monospace;
}

#laterale-front {
    background-color: #8ecb32;
}

.menu-lateral {
    padding-left: 0;
}

.menu-lateral li {
    list-style-type: none;
    cursor: pointer;
    
    padding-top: 75px;
}

.menu-lateral h1 {
    font-size: 0.9em;

    text-align: center;
    color: white;
    
    margin: 0;
    padding-bottom: 7px;
}

#menu-front li {
    background-color: #83bc2f;
}

#menu-front li:hover {
    background-color: #75a32d;
}

#menu-queue {
    background-image: url(../img/upload_100.png);
    background-repeat: no-repeat;
    background-position: top center;
    
    border-top: 1px dotted #558011;
}

#menu-admin {
    background-image: url(../img/admin_100.png);
    background-repeat: no-repeat;
    background-position: top center;
    
    border-top: 1px dotted #558011;
    border-bottom: 1px dotted #558011;
}

/*###########################
        Barre top
#############################*/

.barre-top {
    position: fixed;
    top: 0;
    left: 10%;
    width: 90%;
    height: 60px;
    
    background-color: #d6dcea;
    
    border-bottom: 1px solid #a9a9a9;
    
    z-index: 100;
}

.busquedor {
    float: right;
    width: 30%;
    height: 50px;
    margin-top: 5px;
    margin-right: 1%;
}

#switch-sort {
    float: right;
    padding-right: 1%;
    padding-top: 16px;
}

#toggle-date {
    background-image: url(../img/date_40.png);
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    margin-top: 1%;
    margin-right: 1%;
}

#toggle-date:hover {
    background-image: url(../img/date_hover_40.png);
}

#container-dates {
    display: none;

	position: relative;
	background: #d6dcea;
	border: 1px solid #a9a9a9;
	
	width: 200px;
	margin-top: 22px;
	
	font-size: 0.7em;
	
	padding: 5px;
    text-align: center;
}
#container-dates:after, #container-dates:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#container-dates:after {
	border-color: rgba(109, 206, 10, 0);
	border-bottom-color: #d6dcea;
	border-width: 10px;
	margin-left: -10px;
}
#container-dates:before {
	border-color: rgba(214, 220, 234, 0);
	border-bottom-color: #a9a9a9;
	border-width: 11px;
	margin-left: -11px;
}

#slider-date {
    clear: both;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#slider-date .ui-widget-header {
    background: #C02121 url(images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x;
}

.switchy-bar[data-tri="ASC"] {
    background-image: url(../img/az.png);
}

.switchy-bar[data-tri="DESC"] {
    background-image: url(../img/za.png);
}

/*###########################
        Partagé : liste mondes
#############################*/

.list-mondes {
    padding-left: 0;
    margin-top: 15px;
    margin-left: 15px;
}

.list-mondes li {
    list-style-type: none;
    display: table-cell;
    background-color: #56d4eb;
    height: 30px;
    
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    vertical-align: middle;
    
    font-size: 0.7em;
    
    margin-right: 1px;
    
    border-right: 3px solid #d6dcea;
}

.list-mondes li[data-selected="1"] {
    background-color: #48afc2;
}

.list-mondes li[data-selected="0"]:hover {
    background-color: #4ec3d7;
}

/*#####################################
#
#        Barre bottom
#
#######################################*/

.barre-bottom {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 90%;
    height: 30px;
    
    background-color: #d6dcea;
    
    border-top: 1px solid #a9a9a9;
    
    z-index: 100;
}

/*#####################################
#
#        Liste de documents
#
#######################################*/

#core {
    position: fixed;
    left: 10%;
    top: 61px;
    width: 90%;
    background-color: #e7e9f0;
    
    padding-top: 40px;
    
    overflow-y: scroll;
}

#liste {
   margin-right: 20px;
   margin-left: 20px;
   
   border-top: 1px solid #dddddd;
}

#liste ul {
    list-style-type: none;
    padding: 0;
    padding-top: 5px;
}

#liste li {
    background-position: 15px 50%;
    background-repeat: no-repeat;
    padding-left: 45px;
    height: 30px;
    
    font-weight: bold;    
    text-transform: uppercase;
    
    margin-top: 5px;
}

#liste li.hovering {
    padding: 4px;
    font-weight: bold;
    font-size: 1em;
}

/*###########################
        Champ LI
#############################*/

#liste li[data-type="champ"] {
    background-image: url(../img/client_20.png);
    cursor: pointer;
}

#liste li[data-type="champ"] span {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

#liste li[data-type="champ"][data-niveau="0"] {
    display: block;
    background-color: #8ecb32;
    color: white;
}

#liste li[data-type="champ"][data-niveau="1"] {
    background-color: #56d4eb;
    color: white;
}

#liste li[data-type="champ"][data-niveau="2"] {
    background-color: #8ecb32;
    color: white;
}

#liste li[data-type="champ"][data-niveau="3"] {
    background-color: #56d4eb;
    color: white;
}

/*###########################
        Champ UL
#############################*/

#liste ul[data-niveau] {
    display: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#liste ul[data-niveau="0"] {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#liste ul[data-niveau="1"] {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#liste ul[data-niveau="2"] {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#liste ul[data-niveau="3"] {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

/*###########################
        Categorie
#############################*/

#liste li[data-type="categorie"] {
    background-color: #9b9b9b;
    cursor: pointer;
    background-image: url(../img/categorie_20.png);
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-type="categorie"] span {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    color: white;
}

#liste ul[data-type="categorie"] {
    display: none;
    
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    border-bottom: 4px solid #9b9b9b;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/*###########################
        Document
#############################*/

#liste li[data-type="document"] {
    background-color: #cecece;
    color: #5b5b5b;
    background-image: url(../img/document_20.png);
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-type="document"] div {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

/*###########################
        Révision
#############################*/

#liste li[data-type="revision"] {
    display: none;
    background-color: #DEDEDE;
    color: #5b5b5b;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-bottom: 1px dotted #cecece;
    margin-top: 0;
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-type="revision"] span {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

/*#####################################
#
#        Queue
#
#######################################*/

#container-queue {
    position: fixed;
    
    height: 70%;
    width: 25%;
    
    top: 15%;
    left: -16%;
}

#tiroir-queue {
    padding: 5px;
    
    background-color: white;
    
    border: 2px solid #646462;
    
    overflow: hidden;
    z-index: 10;
}

#zone-dnd {
    height: 70px;
    
    border: 2px dotted #81bc2e;
    
    color: #81bc2e;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 0.7em;
}

#container-files-handler {
    background-color: #56d4eb;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#container-files-handler input {
    width: 90%;
    margin-left: 5%;
}

#div-list {
    overflow-y: auto;
    height: 60%;
}

#tiroir-queue ul {
    padding-left: 0;
    margin-top: 2px;
}

#tiroir-queue li {
    list-style-type: none;
    margin-bottom: 2px;
    
}

#tiroir-queue li[data-editing="1"] {
    background-color: blue;
}

#tiroir-queue li input:disabled {
    background-color: #BEBEBE;
}

#tiroir-queue li span {
    font-style: italic;
}

#tiroir-queue li.done {
    background-size: 0 0;
    background-color: #19bf19;
}


/*###########################
        TODO : A ranger
#############################*/

#opak { /*Shakur!*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    
    display: none;
    
    z-index: 100;
}

#popup-store {
    position: absolute;
    
    height: 80%;
    width: 80%;
    
    top: 10%;
    left: 10%;
    
    padding: 1%;
    
    background-color: #666666;
    
    border: 1px solid black;
    
    border-left: 0px;
    
    z-index: 105;
    
    display: none;
}

#prev-store {
    position: absolute;
    top: 0;
    left: 0;
}

#next-store {
    position: absolute;
    top: 0;
    right: 0;
}

#top-store {
    text-align: center;
    height: 70px;
}

#viewer-store {
    float: left;
    width: 45%;
    margin-top: 1%;
}

#container-store {
    background-color: #888888;
    width: 50%;
    margin-left: 50%;
    margin-top: 1%;
}

#container-champs {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#container-champs p {
    margin-top: 0;
}

#container-store hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#container-champs select {
    font-size: 1.4em;
    padding: 1px 10px 1px 10px;
    font-weight: bold;
}

.champ-store select {
    width: 50%;
}

#container-classification {
    list-style-type: none;
}

#container-classification ul {
    padding-left: 0;
    list-style-type: none;
}

#container-classification li.store-type {
    background-color: #BBDDCA;
    cursor: pointer;
}

#container-classification li {
    padding-left: 0;
}

#container-classification li ul li {
    padding-left: 1.5em;
}

#container-classification li.store-type[data-selected="1"] {
    background-color: #12FFEE;
}

#container-classification li.store-type:hover {
    background-color: #D0FFE5;
}

#container-classification li.store-categorie {
    background-color: #79B995;
}

#container-details {
    display: none;
    text-align: center;
}

.error {
    background-color: red;
}

.over {
    color: red !important;
}

.ghost {
    padding: 4px;
    font-weight: bold;
    font-size: 1em;
}

.ghost-word {
    text-decoration: underline;
}

.ghost-champ {
    background-color: #00AB22 !important;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.ghost-type {
    background-color: #11BC33 !important;
}

.ghost-categorie {
    background-color: #078833 !important;
}

.boutons-li {
    cursor: pointer;
    float: right;
}

.bucket {
    display: none;
}

.filename {
    width: 60%;
    overflow-x: hidden;
}

.boutons-store {
    cursor: pointer;
    display: inline;
    color: red;
    vertical-align: super;
    font-size: 1em;
}

.document {
    cursor: pointer;
}

#viewer-global {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    z-index: 250;
}
