html, body {
    background-color: #F3F0EB;
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

/*#####################################
#
#        Scrollbars (webkit only!)
#
#######################################*/

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: #d6dcea;
}   

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(235, 84, 84, 1);
}
/*::-webkit-scrollbar-button  */
/*::-webkit-scrollbar-track-piece */
/*::-webkit-scrollbar-corner  */
/*::-webkit-resizer  */


.principal::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0,0,0,0);
}

.principal::-webkit-scrollbar-track {
    width: 3px;
    background-color: #d6dcea;
    margin-top: 75px;
    margin-bottom: 35px;
}   

.principal::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(235, 84, 84, 1);
}

/*###########################
        Blocs principaux
#############################*/

#front {
    display: none;    
}

.principal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e7e9f0;
    
    padding-top: 55px;
    padding-bottom: 35px;
    padding-left: 50px;
    
    overflow-y: auto;
    box-sizing: border-box;
}

#core ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#core h1 {
    font-size: 1.1em;
}

#back {
    display: none;
}

#backoffice {
    padding-top: 0;
}

#container-viewer-global {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    z-index: 250;
    padding: 20px;
    padding-top: 0;
}

#poignee-viewer-global {
    height: 20px;
    padding-right: 5px;
    
    text-align: center;
    
    background-color: #FFF;
    
    cursor: move;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    opacity: 0.3;
    transition: opacity 400ms ease-out;
    box-sizing: border-box;
}

#poignee-viewer-global:hover {
    opacity: 1;
}

#poignee-viewer-global img {
    cursor: pointer;
}

#poignee-viewer-global.pdfview img {
    float: right;
    margin-right: 5px;
}

#label-convert {
    display: none;
    float: left;
    
    line-height: 20px;
    margin-left: 20px;
    
    font-size: 0.8em;
}

#viewer-global {
    width: 100%;
    height: 98%;
    border: none;
}

#opak { /*Shakur!*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6); 
    
    display: none;
    
    z-index: 200;
}

/*#####################################
#
#        Partagé : liste mondes
#
#######################################*/

.list-mondes {
    padding-left: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

#mondes-top {
    float: left;
}

.list-mondes li {
    list-style-type: none;
    display: table-cell;
    background-color: #56d4eb;
    height: 30px;
    
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    vertical-align: middle;
    
    font-size: 0.7em;
    
    margin-right: 5px;
    
    border-right: 3px solid #d6dcea;
}

.list-mondes li[data-selected="1"] {
    background-color: #48afc2;
}

.list-mondes li[data-selected="0"]:hover {
    background-color: #4ec3d7;
}

/*#####################################
#
#        Barre latérale
#
#######################################*/

.barre-laterale {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 102;
}

.barre-laterale>a {
    text-decoration: none;
}

.barre-laterale>a h1 {
    background-image: url(../img/dino_top.png);
    background-repeat: no-repeat;
    background-position: center 12px;
    background-size: 75%;

    text-align: center;
    text-decoration: none;
    color: white;
    
    margin-top: 0;
    padding-top: 105px;
    
    cursor: pointer;
}

/*.barre-laterale>a h1:hover {*/
/*    background-image: url(../img/dino_flou_100.png);*/
/*    */
/*    font-family: "Courier New", Courier, monospace;*/
/*}*/

#laterale-front {
    background-color: #8ecb32;
    width: 50px;
}

#laterale-back {
    background-color: #514985;
    width: 50px;
}

.container-powered {
    display: none;
    float: left;
    
    background-image: url(../img/dino_20.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    
    padding-left: 30px;
    line-height: 31px;
    
    vertical-align: middle;
    
    font-size: 0.9em;
    text-transform: uppercase;
    color: black;
}

/*###########################
        Menu général
#############################*/

.menu-lateral {
    padding-left: 0;
    list-style-type: none;
}

.menu-lateral {
    cursor: pointer;
}

.menu-lateral h1 {
    font-size: 0.9em;
    color: white;
    margin: 0;
}

/*###########################
        Menu front
#############################*/

.element-menu-front {
    padding-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: top center;
    
    list-style-type: none;
    cursor: pointer;
}

.element-menu-front:hover {
    background-color: #75a32d;
}

.element-menu-front h1 {
    font-size: 0.9em;
    color: white;
    margin: 0;
}

#menu-queue {
    background-image: url(../img/upload_50.png);
}

#menu-admin {
    background-image: url(../img/users_50.png);
}

#menu-designer {
    background-image: url(../img/designer_50.png);
}

.inactive {
    background-color: #A0A0A0 !important;
    cursor: default !important;
}

/*#####################################
#
#        Barre top général
#
#######################################*/

.barre-top {
    position: fixed;
    top: 0;
    height: 50px;
    
    background-color: #d6dcea;
    
    border-bottom: 1px solid #a9a9a9;
    
    z-index: 100;
    width: 100%;
    padding-left: 50px;
}

.busquedor {
    float: right;
    width: 30%;
    height: 40px;
    margin-top: 5px;
    margin-right: 1%;
}

.switchy-bar[data-tri="ASC"] {
    background-image: url(../img/az.png);
}

.switchy-bar[data-tri="DESC"] {
    background-image: url(../img/za.png);
}

#bouton-admin-profil {
    float: left;
    width: 30px;
    margin-left: 5px;
    margin-top: 9px;
    cursor: pointer;
}

/*###########################
        Nouveau monde
#############################*/

#bouton-admin-designer {
    background-image: url(../img/world_40.png);
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    margin-top: 1%;
    margin-right: 1%;
}

#bouton-admin-designer:hover {
    background-image: url(../img/world_hover_40.png);
}

/*###########################
        Date
#############################*/

#toggle-date {
    background-image: url(../img/date_40.png);
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    margin-top: 3px;
    margin-right: 5px;
}

#toggle-date:hover {
    background-image: url(../img/date_hover_40.png);
}

#container-dates {
    display: none;

	position: relative;
	background: #d6dcea;
	border: 1px solid #a9a9a9;
	
	width: 200px;
	margin-top: 22px;
	
	font-size: 0.7em;
	
	padding: 5px;
    text-align: center;
}
#container-dates:after, #container-dates:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#container-dates:after {
	border-color: rgba(109, 206, 10, 0);
	border-bottom-color: #d6dcea;
	border-width: 10px;
	margin-left: -10px;
}
#container-dates:before {
	border-color: rgba(214, 220, 234, 0);
	border-bottom-color: #a9a9a9;
	border-width: 11px;
	margin-left: -11px;
}

#slider-date {
    clear: both;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#slider-date .ui-widget-header {
    background: #C02121 url(images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x;
}



/*#####################################
#
#        Barre bottom
#
#######################################*/

.barre-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    
    background-color: #d6dcea;
    
    border-top: 1px solid #a9a9a9;
    
    z-index: 103;
}

#container-notification {
    float: left;
    
    height: 100%;
    padding-top: 8px;
    padding-left: 10px;
    
    font-size: 0.7em;
    color: #3e454d;
    
    /* background-image: url(../img/loader.gif); */
    background-position: 15px 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#container-notification img {
    margin-left: 5px;
    margin-top: -5px;
}

.barre-bottom>img {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

#help-printer {
    display: none;
}

#help-printer:hover {
    content: url(../img/printer_hover_20.png);
}

#logout:hover {
    content: url(../img/logout_hover_20.png);
}

#pass:hover {
    content: url(../img/pass_hover_20.png);
}

#mail:hover {
    content: url(../img/mail_hover_20.png);
}

/*#####################################
#
#        Liste de documents
#
#######################################*/

#liste {
    margin-top: -5px; 
    margin-right: 20px;
    margin-left: 20px;
}

#liste>ul {
    margin-top: 5px;
}

#liste ul {
    list-style-type: none;
    padding: 0;
    padding-top: 5px;
}

#liste li {
    background-position: 15px 50%;
    background-repeat: no-repeat;
    padding-left: 45px;
    height: 30px;
    
    font-weight: bold;    
    text-transform: uppercase;
    
    margin-top: 5px;
}

#liste li img {
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
}

#liste li span {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

#liste li div {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

#liste li input {
    display: none;
    height: 15px;
}

.document {
    cursor: pointer;
}

/*#####################################
#
#        Drag n drop
#
#######################################*/

#liste li.hovering {
    padding-top: 3px;
    padding-bottom: 3px;
}

#liste .ghost {
    padding: 4px;
    font-weight: bold;
    font-size: 1em;
    
    background-color: white !important;
    background-image: url(../img/plus_30.png) !important;
    background-position: 95% 50% !important;
    
    border: 2px dashed #b8b8b8 !important;
    
    color: #9b9b9b !important;
}

#liste .ghost[data-type="categorie"] {
    background-color: #484848 !important;
    color: #888888 !important;
    border: none !important;
    background-image: none !important;
}

#liste .over {
    border: 2px dashed #4D4D4D !important;
    white-space: nowrap;
    overflow: hidden;
}

#liste .over span {
    pointer-events: none;
}

#liste .over div {
    pointer-events: none;
}

.ghost-word {
    text-decoration: underline;
}

.ghost-type {
    background-color: #11BC33 !important;
}

.ghost-categorie {
    background-color: #078833 !important;
}

.scroll-holder {
    position: absolute;
    left: 0;
    opacity: 0;
}

#top.scroll-holder  {
    top: 0;
    height: 81px;
    width: 100%;
}

#bottom.scroll-holder {
    bottom: 0;
    height: 50px;
    width: 100%;
}

/*###########################
        Champ LI
#############################*/

#liste li[data-type="champ"] {
    background-image: url(../img/client_20.png);
    cursor: pointer;
    color: white;
    text-transform: capitalize;
}

#liste li[data-type="champ"] span {
    padding-left: 5px;
}

#liste li[data-type="champ"][data-niveau="0"] {
    display: block;
}

#liste li[data-type="champ"][data-niveau="0"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

#liste li[data-type="champ"][data-niveau="0"]:nth-of-type(even) {
    background-color: #599801;
}

#liste li[data-type="champ"][data-niveau="1"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

#liste li[data-type="champ"][data-niveau="1"]:nth-of-type(even) {
    background-color: #48afc2;
}

#liste li[data-type="champ"][data-niveau="2"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

#liste li[data-type="champ"][data-niveau="2"]:nth-of-type(even) {
    background-color: #599801;
}

#liste li[data-type="champ"][data-niveau="3"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

#liste li[data-type="champ"][data-niveau="3"]:nth-of-type(even) {
    background-color: #48afc2;
}

#liste li[data-type="champ"][data-niveau="4"]:nth-of-type(odd) {
    background-color: #8ecb32;
}

#liste li[data-type="champ"][data-niveau="4"]:nth-of-type(even) {
    background-color: #599801;
}

#liste li[data-type="champ"][data-niveau="5"]:nth-of-type(odd) {
    background-color: #56d4eb;
}

#liste li[data-type="champ"][data-niveau="5"]:nth-of-type(even) {
    background-color: #48afc2;
}

#liste li[data-type="champ"][data-an] {
    background-image: url(../img/date_20.png);
}

#liste li[data-type="champ"][data-mois] {
    background-image: url(../img/date_20.png);
}

/*###########################
        Champ UL
#############################*/

#liste ul[data-niveau] {
    display: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#liste ul[data-niveau="0"]:nth-of-type(odd) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#liste ul[data-niveau="0"]:nth-of-type(even) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#liste ul[data-niveau="1"]:nth-of-type(odd) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#liste ul[data-niveau="1"]:nth-of-type(even) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

#liste ul[data-niveau="2"]:nth-of-type(odd) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#liste ul[data-niveau="2"]:nth-of-type(even) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#liste ul[data-niveau="3"]:nth-of-type(odd) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#liste ul[data-niveau="3"]:nth-of-type(even) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

#liste ul[data-niveau="4"]:nth-of-type(odd) {
    border-left: 2px solid #8ecb32;
    border-right: 2px solid #8ecb32;
    border-bottom: 10px solid #8ecb32;
}

#liste ul[data-niveau="4"]:nth-of-type(even) {
    border-left: 2px solid #599801;
    border-right: 2px solid #599801;
    border-bottom: 10px solid #599801;
}

#liste ul[data-niveau="5"]:nth-of-type(odd) {
    border-left: 2px solid #56d4eb;
    border-right: 2px solid #56d4eb;
    border-bottom: 10px solid #56d4eb;
}

#liste ul[data-niveau="5"]:nth-of-type(even) {
    border-left: 2px solid #48afc2;
    border-right: 2px solid #48afc2;
    border-bottom: 10px solid #48afc2;
}

/*###########################
        Categorie
#############################*/

#liste li[data-type="categorie"] {
    background-color: #9b9b9b;
    cursor: pointer;
    background-image: url(../img/categorie_20.png);
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-type="categorie"] span {
    padding-left: 5px;
    color: white;
}

#liste ul[data-type="categorie"] {
    display: none;
    
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    border-bottom: 4px solid #9b9b9b;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/*###########################
        Document
#############################*/

#liste li[data-type="document"] {
    background-color: #cecece;
    color: #5b5b5b;
    background-image: url(../img/queue_xxx_20.png);
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-filetype="doc"] {
    background-image: url(../img/queue_doc_20.png);
}

#liste li[data-filetype="img"] {
    background-image: url(../img/queue_img_20.png);
}

#liste li[data-filetype="pdf"] {
    background-image: url(../img/queue_pdf_20.png);
}

#liste li[data-filetype="vid"] {
    background-image: url(../img/queue_vid_20.png);
}

#liste li[data-type="document"] span {
    padding-left: 5px;
    cursor: pointer;
}

/*###########################
        Révision
#############################*/

#liste li[data-type="revision"] {
    display: none;
    background-color: #DEDEDE;
    color: #5b5b5b;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-bottom: 1px dotted #cecece;
    margin-top: 0;
    height: 25px;
    font-size: 0.8em;   
}

#liste li[data-type="revision"] span {
    padding-left: 5px;
}

#popup-details {
    font-size: 1.3em;
}

#popup-details p,#popup-details ul{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 0.8em;
}

#popup-details .boutons {
    margin-left: 50%;
}

/*#####################################
#
#        Queue
#
#######################################*/

#queue {
    padding-right: 215px;
}

#container-queue {
    position: absolute;
    right: 0;
    top: 70px;
    
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    
    box-shadow: 0 0 1px 1px #8ECB32;
}

#container-uploader {
}

#tiroir-queue {
    
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}

#zone-dnd {
    position: relative;
    
    border: 2px dotted #81bc2e;
    
    color: #81bc2e;
    
    text-align: center;
    vertical-align: middle;
    
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    
    background-color: white;
    
    box-sizing: border-box;
}

#zone-dnd input {    
    opacity: 0;
}

#zone-dnd p {
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #8ECB32;
    
    padding: 5px;
}

#upload-buttons {
    position: relative;
    height: 2.7em;
}

.fake-button {
    position: absolute;
    top: 0;
    left: 0;
    
    float: left;
    width: 48%;
    height: 100%;
    padding-top: 0.9em;
    border-right: 1px solid #8ECB32;
    
    cursor: pointer;
    box-sizing: border-box;
    
    font-weight: bold;
}

.fake-dirs {
    left: 50% !important;
    border-right: none !important;
}

.cluster {
    float: left;
    width: 20%;
    
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    
    box-shadow: 0 0 1px 1px #8ECB32;
}

.cluster h1 {
    padding: 2px;
    
    background-color: #8ECB32;
    
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
}

.cluster ul {
    overflow-y: auto;
    height: 150px;  
}

#tip-upload {
    display: none;
    width: 50%;
    margin-left: 20%;
    margin-top: 15%;
}

/*###########################
        Liste queue
#############################*/

#container-uploads {    
}

#files-list {
    padding-left: 0;
    margin-top: 0;
    border-top: 5px solid white;
    max-height: 300px;
    overflow-y: auto;
}

.queue_document {
    list-style-type: none;
    border-bottom: 2px solid white;
    padding: 5px;
    cursor: pointer;
}

.queue_document:hover {
    background-color: #E9E9E9 !important;
}

.queue_document>img {
    float: right;
    cursor: pointer;
    
    display: none;
}

.bouton-del-li:hover {
    content: url(../img/del_15.png);
}

.queue_document .filename {
    background-image: url(../img/queue_xxx_20.png);
    background-repeat: no-repeat;
    
    line-height: 20px;
    padding-left: 25px;
    margin-right: 20px;
    
    font-size: 0.8em;
    
    white-space: nowrap;
    overflow: hidden;
}

.queue_document[data-filetype="doc"] .filename {
    background-image: url(../img/queue_doc_20.png);
}

.queue_document[data-filetype="img"] .filename {
    background-image: url(../img/queue_img_20.png);
}

.queue_document[data-filetype="pdf"] .filename {
    background-image: url(../img/queue_pdf_20.png);
}

.queue_document[data-filetype="vid"] .filename {
    background-image: url(../img/queue_vid_20.png);
}

.queue_document .progressbar {
    margin-top: 10px;
    height: 10px;
    
    display: none;
}

.queue_document .details-queue {
    display: none;
    font-size: 0.6em;
    
    margin-top: 10px;
}

.queue_document:nth-child(odd) {
    background-color: #bfbfbf;
}

.queue_document:nth-child(even) {
    background-color: #9b9b9b;
}

.cancel-uploads {
    float: right;
    
    border-top: 5px solid #FFF;
    
    background-color: #9B9B9B;
    color: white;
    
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    
    cursor: pointer;
}

.cancel-uploads:hover {
    color: #646462;
}

.pause-uploads {
    float: left;
    
    border-top: 5px solid #FFF;
    
    background-color: #9B9B9B;
    color: white;
    
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    
    cursor: pointer;
}

.pause-uploads:hover {
    color: #646462;
}

.del-all {
    border-top: 5px solid #FFF;
    
    background-color: #9B9B9B;
    color: white;
    
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    
    cursor: pointer;
}

.del-all:hover {
    color: #646462;
}

.toobig {
    color: red;
}

.processing {
    background-image: url(../img/loader.gif) !important;
    background-size: 20px;
}

/*#####################################
#
#        Popup classification
#
#######################################*/

#popup-store {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    height: 94%;
    width: 94%;
    
    top: 3%;
    left: 3%;
    
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 10px;
    
    background-color: #dbdbdb;
    
    z-index: 250;
    
    display: none;
    
    overflow-y: auto;
}

#container-nav {
    position: relative;
    width: 46%;
    margin-top: -40px;
    
    text-align: center;
}

.nav-store {
    position: absolute;
    top: 0;
    
    height: 30px;
    width: 30px;
    
    cursor: pointer;
}

#prev-store {
    background-image: url(../img/prev_30.png);
    left: 0;
}

#prev-store:hover {
    background-image: url(../img/prev_hover_30.png);
}

#next-store {
    background-image: url(../img/next_30.png);
    right: 0;
}

#next-store:hover {
    background-image: url(../img/next_hover_30.png);
}

#del-doc-store {
    position: absolute;
    top: 0;
    left: 48%;
    cursor: pointer;
}

#del-doc-store:hover {
    content: url(../img/del_15.png);
}

#viewer-store {
    float: left;
    width: 45%;
    height: 90%;
}

#container-store {
    background-color: #888888;
    width: 50%;
    margin-left: 50%;
    padding: 15px;
    box-sizing: border-box;
}

#mondes-store {
    margin: 0;
    margin-left: 50%;
    margin-top: -65px;
}

.entete-store {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
    
    padding: 5px;
    
    font-size: 0.9em;
    text-align: center;
}

#container-champs {
    text-align: center;
}

.champ-store {
    margin-bottom: 5px;
}

#nom-doc-store {
    text-align: center;
    
    line-height: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    
    height: 30px;
    width: 45%;
    
    background-color: #888888;
    border: 2px #888888 solid;
    
    color: white;
    
    overflow-x: hidden;
    
    margin-top: 40px;
}

/*#container-store hr {*/
/*    border: 0;*/
/*    height: 1px;*/
/*    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); */
/*    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); */
/*    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); */
/*    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); */
/*}*/

#container-nouveau-champ {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

/*###########################
        Chosen popup
#############################*/

#container-store .select-champ {
    position: relative;
    width: 100%;
    
    text-align: center;
    
    font-size: 0.8em;
    
    cursor: pointer;
}

#container-store .select-champ>a {
    border-radius: 0;
    color: white;
    border: 0;
    text-transform: uppercase;
    box-shadow: none;
}

/* Fond champ */
#container-store .select-champ>a {
    background: #8ecb32;
}
    
/* valeur sélectionnée */
#container-store .select-champ .highlighted {
    background: #75a32d;
}

/* Fond drop */
#container-store .select-champ .chosen-drop {
    background: #8ecb32;
}

/* Fond champ */
#container-store .select-odd>a {
    background: #56D4EB;
}
    
/* valeur sélectionnée */
#container-store .select-odd .highlighted {
    background: #48AFC2;
}

/* Fond drop */
#container-store .select-odd .chosen-drop {
    background: #56D4EB;
}

/*###########################
        Champ renseigné (tag-like)
#############################*/

#list-champs {
    position: absolute;
    top: 127px;
    right: 55%;
    
    padding-left: 0;
    margin-top: 0;
    margin-right: -5px;
    
    list-style-type: none;
}

.tag-champ {    
    float: right;
    
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-left: 100%;
    
    border: 1px solid #75a32d;
    box-shadow: 0 0 1px 1px #888;
    
    background-color: #8ecb32;
    background-image: url(../img/tag_15.png);
    background-position: right top;
    background-repeat: no-repeat;
    
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    text-transform: uppercase;
    
    color: #1B1B1B;
    
    cursor: pointer;
}

.tag-champ:nth-child(even) {
    border: 1px solid #48AFC2;
    background-color: #56D4EB;
}

.tag-champ:hover {
    background-image: url(../img/del_15.png);
}

.new-champ {
    border: 1px dashed #484848;
    color: #484848;
    background-color: #8ecb32;
    
    background-image: none;
}

.new-champ:hover {
    background-image: none;
}

/*###########################
        Classification de document
#############################*/

#container-classification {
    padding: 10px;
}

.classif {
    padding-left: 0;
    font-size: 0.8em;
}

.classif ul {
    display: none;
    padding-left: 5%;
}

.classif li {
    padding-left: 0;
    list-style-type: none;
    
    margin-bottom: 5px;
    
    padding: 5px;
    
    color: #888888;
}

li.store-type {
    background-color: white;
    cursor: pointer;

    border: 1px dotted white;
}

li.store-type[data-selected="1"] {
    background-color: #d6dcea;
    color: black;
    border: 2px solid #8ecb32;
    
    background-image: url(../img/OK_15.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

li.store-type:hover {
    background-color: #d6dcea;
    color: black;
    border: 1px dotted #575757;
}

li.store-categorie {
    background-color: #484848;
    cursor: pointer;

    border: 1px dotted #484848;
}
li.store-categorie:hover {
    background-color: #575757;

    border: 1px dotted #575757;
}

.time {
    border-top: 1px solid #575757;
    margin-top: 25px;
    padding-top: 25px;
}

/*###########################
        Renseignement des détails
#############################*/
#container-details {
    display: table;
    
    width: 90%;
    
    padding-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    
    border-top: 1px solid #575757;
    
    font-size: 0.8em;
}

.ligne-details {
    display: table-row;
}

.cell-details {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}



.error {
    background-color: red;
}

.boutons-li {
    cursor: pointer;
    float: right;
}

.bucket {
    display: none;
}

.boutons-store {
    cursor: pointer;
    display: inline;
    color: red;
    vertical-align: super;
    font-size: 1em;
}

ul.ui-autocomplete {
    z-index: 1000;
}

/*#####################################
#
#        Edit params
#
#######################################*/

#container-change-pass {
    display: none;
}

#container-change-mail {
    display: none;
}

.container-params {
    list-style-type: none;
    text-align: left;
    
    padding: 0;
}

.container-params input {
    width: 35%;
}

.container-params div {
    width: 35%;
}

#container-new-pass {
    display: none;
}

#container-new-mail {
    display: none;
}

/*#####################################
#
#        Tutoriaux
#
#######################################*/

#container-list-tutos {
    position: fixed;
    bottom: -9999px;
    
    font-size: 0.8em;  
    background-color: #D6DCEA;
    
    box-shadow: 0 0 1px 1px #A9A9A9;
}

#container-list-tutos ul {
    padding: 5px;
    margin: 5px;
}

#container-list-tutos li {
    list-style-type: none;    
    padding: 5px;
    margin-top: 5px;
}

#list-documentation {
    display: none;
}

.ligne-tuto {
    background-image: url(../img/tuto.png);
    background-position: left 50%;
    background-repeat: no-repeat;
    
    cursor: pointer;
    padding-left: 25px !important;
    
}

.ligne-tuto:hover {
    background-color: white;
}

.new-tuto {
    float: right;
    background-color: #8ecb32;
    color: white;
    font-size: 0.8em;
}

.entete-list-tutos, .chapitre-tuto {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    
    background-image: none !important;
}

.entete-list-tutos {
    text-align: center;
}

.chapitre-tutos {
    text-align: left;
}

#toggle-university {
    position: absolute;
    top: 0;
    right: 0;
    
    margin: 18px;
    width: 20px;
    height: 20px;    
    
    background-image: url(../img/next_20.png);
    
    cursor: pointer;
}

.with-tip {
    font-style: italic;
    cursor: pointer;
    border-bottom: 1px dashed #EB5454;
    background-color: #FFFFB3;
}

.with-tip:hover {
    background-color: #FFEAB3;
}

/* PAGE DE WELCOME */

/* Il s'agit du fond invisible quand une adresse mail n'est pas validée'*/
#no-touchy-feely {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#container-KO {
    display: none;
    
    position: absolute;
    top: 30%;
    width: 50%;
    left: 25%;
}

.popup-welcome {
    display: none;
    
    position: absolute;
    top: 10%;
    width: 50%;
    left: 25%;
}

.popup-welcome input[type="submit"] {
    background-color: #8ECB32;
    background-image: none;
    color: white;
    font-weight: bold;
    
    width: 50%;
    margin-left: 25%;
    padding: 5px;
    
    cursor: pointer;
}

#popup-dinostore {
    display: none;
    
    position: absolute;
    top: 30%;
    width: 50%;
    left: 25%;
}

.lien-welcome {
    cursor: pointer;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #8ECB32;
    color: white;
    text-align: center;
    font-weight: bold;
    
    width: 50%;
    margin-left: 25%;
    padding: 5px;
}

#pass-form {
    display: none;
}

#pass-form input {
    width: 50%;
}
