

input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2em;
    background-image: url(../img/gradient_input.png);
    background-repeat: repeat-x;
    background-size: 1px 100%;
    border: 1px solid white;
    padding-left: 10px;
    border-radius: 5px;
    
    color: #535353;
    
}

input.KO {
    border: 3px dotted #E23C3C;
}

input.OK {
    border: 3px dotted #83bc2f;
}
