
body {
    background-color: #F3F0EB;
    font-family: 'Arial', sans-serif;
    padding-top: 50px;
    
    color: white;
}

#container-signup {
    background-color: #8ecb32;
    width: 75%;
    margin-left: 13%;
    
    background-image: url(../img/dino_title_270.png);
    background-position: 50% 20px;
    background-repeat: no-repeat;
    
    padding: 20px;
    padding-top: 130px;
    
    box-shadow: 0 0 5px 5px #5b8020;
    box-sizing: border-box;
}

/*#container-signup img {*/
/*    width: 90%;*/
/*    margin-left: 5%;*/
/*}*/

.champ-signup {
    margin-top: 10px;
    margin-bottom: 10px;
    
    height: 2em;
    
    background-size: 1px 100%;
    background-repeat: x-repeat;
}

#container-signup input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
}

#container-signup input[type="submit"] {
    background-image: url(../img/gradient_login.png);
    background-repeat: repeat-x;
    background-size: contain;
    
    color: white;
    text-transform: uppercase;
    
    cursor: pointer;
    
    border: none;
    
    display: none;
}

#container-tips {
    float: left;
    width: 45%;
    border-radius: 5px;
    
    padding: 10px;
    margin-top: 10px;
    
    color:  #535353;
    background-color: #E7E9F0;
    
    font-size: 0.9em;
    text-align: justify;
}

#container-champs {
    float: right;
    width: 45%;
}

#page-2 {
    display: none;
}
