
#container-tuto {
    display: none;
}

#opak-tuto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4); 
}

.etape {
    display: none;
    
    position: absolute;
    box-shadow: 0 0 3px 3px #8ECB32 !important;
    margin: 10px !important;
    
    z-index: 701 !important;
}

.etape p {
    text-align: justify;
    
    font-size: 0.9em;
}

.etape ul {
    font-size: 0.9em;
}

.next {
    width: 50%;
    margin-left: 25%;
    
    background-color: #8ecb32;
}

#quit-tuto {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #56d4eb;
    
    width: 70px;
    height: 70px;
    
    z-index: 705;
}
