
body {
    text-align: center;
    font-size: 1.1em;
    margin: 0;
}

img.nopreview {
    margin-top: 50px;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

pre {
    border: 1px solid #4b4b4b;
}

/*#####################################
#
#        Scrollbars (webkit only!)
#
#######################################*/

::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: #d6dcea;
}   

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(235, 84, 84, 1);
}
